.colophon
  &copy;
  = Time.now.strftime("%Y")
  Aris FM. Proudly powered by
  = link_to 'Middleman', 'http://middlemanapp.com/', class: 'colophon__link'
  &amp;
  = link_to 'Github', 'https://github.com/', class: 'colophon__link'

